[package]
name = "leo-lang"
version = "3.4.0"
authors = [ "The Leo Team <leo@provable.com>" ]
description = "The Leo programming language"
homepage = "https://leo-lang.org"
repository = "https://github.com/ProvableHQ/leo"
keywords = [
  "aleo",
  "cryptography",
  "leo",
  "programming-language",
  "zero-knowledge"
]
categories = [ "compilers", "cryptography", "web-programming" ]
include = [
  "Cargo.toml",
  "src",
  "README.md",
  "LICENSE.md",
]
license = "GPL-3.0"
edition = "2024"
rust-version = "1.92.0"

[lib]
path = "src/lib.rs"

[[bin]]
name = "leo"
path = "src/cli/main.rs"

[[test]]
name = "integration"
path = "tests/integration.rs"

[features]
default = [ ]
ci_skip = [ "leo-compiler/ci_skip" ]
noconfig = [ ]
only_testnet = [ ]

[dependencies]
# leo dependencies
leo-abi           = { workspace = true }
leo-ast           = { workspace = true }
leo-compiler      = { workspace = true }
leo-disassembler  = { workspace = true }
leo-errors        = { workspace = true }
leo-fmt           = { workspace = true }
leo-interpreter   = { workspace = true }
leo-package       = { workspace = true }
leo-span          = { workspace = true }
# third party dependencies
aleo-std           = { workspace = true }
aleo-std-storage   = { workspace = true }
anyhow             = { workspace = true }
axum               = { workspace = true }
axum-extra         = { workspace = true }
backtrace          = { workspace = true }
chrono             = { workspace = true }
clap               = { workspace = true }
colored            = { workspace = true }
crossbeam-channel  = { workspace = true }
crossterm          = { workspace = true }
ctrlc              = { workspace = true }
dialoguer          = { workspace = true }
dotenvy            = { workspace = true }
dunce              = { workspace = true }
indexmap           = { workspace = true }
is-terminal        = { workspace = true }
itertools          = { workspace = true }
num-format         = { workspace = true }
once_cell          = { workspace = true }
parking_lot        = { workspace = true }
rand               = { workspace = true }
rand_chacha        = { workspace = true }
rayon              = { workspace = true }
regex              = { workspace = true }
reqwest            = { workspace = true }
rpassword          = { workspace = true }
self_update        = { workspace = true }
serde              = { workspace = true }
serde_json         = { workspace = true }
serial_test        = { workspace = true }
similar            = { workspace = true }
sha2               = { workspace = true }
snarkvm            = { workspace = true }
sys-info           = { workspace = true }
tempfile           = { workspace = true }
tokio              = { workspace = true }
tower-http         = { workspace = true }
tower_governor     = { workspace = true }
tracing            = { workspace = true }
tracing-subscriber = { workspace = true }
ureq               = { workspace = true }
walkdir            = { workspace = true }
which              = { workspace = true }

[dev-dependencies]
regex = { workspace = true }
which = { workspace = true }

[build-dependencies]
walkdir = { workspace = true }

[target."cfg(unix)".dependencies]
libc        = "0.2"
nix         = { version = "0.30", features = [ "process", "term", "fs", "poll" ] }
signal-hook = { version = "0.4", features = [ "iterator" ] }

[target."cfg(windows)".dependencies]
winapi      = "0.3"
ansi_term   = "0.12"
windows-sys = { version = "0.61", features = [ "Win32_Foundation", "Win32_System_Threading", "Win32_System_JobObjects" ] }
