name: "Sync -> build -> release "

on:
  workflow_dispatch:
  schedule: 
  - cron: "0 13 * * 1"
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Sync to Upstream Repository
        uses: dabreadman/sync-upstream-repo@v1.3.0
        with: 
          upstream_repo: https://github.com/AleoHQ/leo.git
          upstream_branch: testnet3
          downstream_branch: testnet3
          token: ${{ env.GITHUB_TOKEN }}
